* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: auto;
}

/* Header START  */
header {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 15px;
}

.header-up {
  background-color: #f0f3f2;
  position: relative;
}

.header-up-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  color: grey;
  font-size: 14px;
}
.header-up-wrapper a {
  align-items: center;
  display: flex;
  column-gap: 5px;
  color: grey;
  font-size: 14px;
}

.header-up-wrapper a img {
  width: 18px;
  height: 14px;
}
.dil-seçeneği {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.dropdown-dil {
  background-color: white;
  position: absolute;
  z-index: 3;
  margin-top: 20px;
  margin-left: 50px;
  display: none;
  border: 1px solid grey;
  padding: 5px 5px;
  width: 120px;
}
.dropdown-dil.active {
  display: block;
}
.dropdown-dil li {
  padding: 10px 25px;
}
.dropdown-dil li img {
  width: 18px;
  height: 14px;
}
.dropdown-dil li:hover {
  background-color: lightgray;
}

/* header mid  */
.header-mid {
}
.header-mid-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mid-center {
  display: flex;
  column-gap: 10px;
}
.search-input {
  position: relative;
}
.header-mid-center input {
  width: 600px;
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  border: solid 1.5px #d3d3d3;
  outline: none;
}
.header-mid-center .bi-search {
  position: absolute;
  right: 15px;
  top: 25%;
  font-weight: 700;
}
.header-mid-center input:focus {
  box-shadow: 0 0 1pt 1pt greenyellow;
  outline-width: 0px;
}

.header-mid-center button {
  color: grey;
  background-color: white;
  outline: none;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid darkgray;
  font-weight: 700;
  cursor: pointer;
}
.header-mid-center button:hover {
  background-color: darkgrey;
}

.header-mid-right {
  display: flex;
  column-gap: 15px;
  position: relative;
}
.header-mid-right i {
  font-size: 20px;
  color: grey;
}
.favoriler-icon {
  position: relative;
}
.sepet-icon {
  position: relative;
}

.header-mid-right div span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  background-color: green;
  padding: 5px 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: -5px;
  left: 12px;
}

/* navbar */
.navigation-wrapper {
  column-gap: 20px;
  display: flex;
  position: relative;
}

.all-departments {
  background-color: #088a08;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
}
.all-departments a {
  display: flex;
  column-gap: 10px;
  color: white;
}

.navigation-wrapper ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: relative;
}
.nav-item a {
  display: flex;
  column-gap: 10px;
  align-items: center;
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.navigation-wrapper ul li a:hover {
  color: #088a08;
}

.dropdown-menu ul {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 5px 5px;
  display: block;
  position: absolute;
  padding-top: 20px;
  display: none;
  border-radius: 10px;
 }

.dropdown-menu ul li a {
  padding: 5px 25px;
  padding-right: 60px;
  font-weight: 100;
  color: gray;
}

.dropdown-menu ul li a:hover {
  background-color: #d3d3d3;
  color: black;
}
.navigation-wrapper ul li:hover .dropdown-menu ul {
  display: block;
}

.all-departments:hover .dropdown-menu-all ul {
  display: block;
}
/* megamenu */

.dropdown-megamenu {
  position: absolute;
  left: -250px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 5px 5px;
  padding-top: 20px;
  column-gap: 50px;
  border-radius: 10px;
}

.dropdown-megamenu ul {
  background-color: white;
  padding: 5px 5px;
  padding-top: 20px;
  display: none;
  width: 300px;
  
}

.dropdown-megamenu ul li a {
  padding: 5px 25px;
  padding-right: 60px;
  font-weight: 100;
  color: gray;
}

.dropdown-megamenu ul li h4 {
  color: #088a08;
  padding: 20px 20px;
}
.dropdown-megamenu ul img {
  width: 100%;
}

.dropdown-megamenu ul li a:hover {
  background-color: #d3d3d3;
  color: black;
}
.navigation-wrapper ul li:hover .dropdown-megamenu ul {
  display: block;
}


/* asdasd */

.dropdown-menu-all ul {
  left: 0;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 5px 5px;
  display: block;
  position: absolute;
  padding-top: 20px;
  display: none;
}

.dropdown-menu-all ul li a {
  padding: 5px 25px;
  padding-right: 60px;
  font-weight: 100;
  color: gray;
}

.dropdown-menu-all ul li a:hover {
  background-color: #d3d3d3;
  color: black;